[program:grok-exporter]
command=/usr/local/bin/grok_exporter -config /etc/grok_exporter/config.yml
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
